# Analis de DataSet con Pandas y Jupyter

In [1]:
import pandas as pd

## Leer datos del CSV

In [11]:
df = pd.read_csv(
    "18-proyecto-final-busaccidentsdata_d8d5ed5f-2ebe-4bb8-b89e-a9ad42b685e7.csv",
    encoding="latin1",
)
df.head()

,Year,Date Of Incident,Route,Operator,Group Name,Bus Garage,Borough,Injury Result Description,Incident Event Type,Victim Category,Victims Sex,Victims Age
0,2015,01/01/2015,1,London General,Go-Ahead,Garage Not Available,Southwark,Injuries treated on scene,Onboard Injuries,Passenger,Male,Child
1,2015,01/01/2015,4,Metroline,Metroline,Garage Not Available,Islington,Injuries treated on scene,Onboard Injuries,Passenger,Male,Unknown
2,2015,01/01/2015,5,East London,Stagecoach,Garage Not Available,Havering,Taken to Hospital  Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
3,2015,01/01/2015,5,East London,Stagecoach,Garage Not Available,None London Borough,Taken to Hospital  Reported Serious Injury or...,Onboard Injuries,Passenger,Male,Elderly
4,2015,01/01/2015,6,Metroline,Metroline,Garage Not Available,Westminster,Reported Minor Injury - Treated at Hospital,Onboard Injuries,Pedestrian,Female,Elderly

##  Numero total de registros

In [15]:
total_data = ["Route"]
df[total_data].describe()

        Route
count   23158
unique    612
top       OOS
freq      321

## Numero total de casos por Municipio

In [16]:
insidentsTotal = df["Borough"].value_counts()
insidentsTotal

Borough
Westminster             1571
Southwark               1107
Lambeth                 1107
Croydon                 1032
Lewisham                1006
Barnet                   922
Camden                   900
Brent                    887
Ealing                   863
Greenwich                832
Haringey                 831
Hackney                  796
Islington                769
Bromley                  673
Havering                 652
Hounslow                 642
Newham                   634
Hammersmith & Fulham     632
Enfield                  584
None London Borough      561
Not specified            553
Wandsworth               551
Waltham Forest           526
Hillingdon               517
Redbridge                470
Kingston upon Thames     451
Tower Hamlets            435
Bexley                   414
Richmond Upon Thames     403
Harrow                   384
Barking & Dagenham       374
Kensington & Chelsea     334
Merton                   309
City of London           243
Sutton                   193
Name: count, dtype: int64

## Municipio con mas accidentes registrados

In [17]:
maxIncident = insidentsTotal.max()
nameOfBorough = insidentsTotal.idxmax()

In [20]:
maxIncident, nameOfBorough

(1571, 'Westminster')

## Graficamos los municipios con mas numeor s de accidentes

In [21]:
import matplotlib.pyplot as plt